*{
    margin:0px;
    padding:0px;
}

#html,body{
   height:100%;
   width:100%;
}

body{
    background-color: black;
    overflow-x: hidden;
}

#page1,#page2,#page3{
    height:100vh;
    width:100%;
    padding:0 2vw;
    
}

#move{
    background-color: #D8FF04;
    display:flex;
    padding: 3vw 0;
   
}

.marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap:3vw;
    padding:0 1.5vw;
    /* background-color: red; */
    transform: translate("-100%");
}
.marque h1{
   font-size: 3rem;
}

.marque img{
    height:60px;
}